pip install selenium

In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import time
import pandas as pd
from selenium.webdriver.common.keys import Keys
import random
import numpy as np
import collections
import os
import pymysql
from getpass import getpass
from sqlalchemy import create_engine
from datetime import datetime

In [2]:
def initialize_bot(user_val, pw_val, num_garage, days_sold):
    """
    Set parameter values
    """
    username = driver.find_element_by_css_selector('[placeholder="Email Address"]')
    password = driver.find_element_by_css_selector('[placeholder="Password"]')
    username.send_keys(user_val)
    password.send_keys(pw_val)
    
    # To click login button 
    driver.find_element_by_css_selector("button[type*='button']").click()
    time.sleep(2) 
    
    # To click Map Search button
    driver.find_element_by_css_selector("a[href*='/web/en/map']").click()
    time.sleep(2) 
    
    # To click Filter button
    driver.find_element_by_css_selector("i[class*='el-icon-fa-filter']").click()
    
    # this finds all child tags using './/*' with '2+' span text; since both Bathroom and Garage are returning 2+, take Gargae only
    driver.find_elements_by_xpath(".//*[text()="+ "'" + str(num_garage) + "+']")[1].click()
    
    # To click Confirm button
    driver.find_elements_by_xpath(".//*[text()='Confirm']")[0].click()
    
    # To click Sold button
    driver.find_elements_by_xpath(".//*[text()='Sold']")[0].click()
    time.sleep(1) 
    
    # Does work 
    '''
    if property_type != 'All property types':
        
        # To click type of property
        driver.find_elements_by_xpath("//li[@class='el-select-dropdown__item']")[1].click()
        time.sleep(2) 
        driver.find_elements_by_xpath(".//*[text()='" + property_type + "']")[0].click()
        time.sleep(1) '''
    
    # To click All Active listing
    #driver.find_elements_by_xpath("//button[@type='button']/span[text()='Active']")[0].click()
    driver.find_elements_by_xpath("//span[@class='el-input__suffix-inner']")[2].click()
    time.sleep(2) 
    driver.find_elements_by_xpath(".//*[text()='Listing date - All']")[0].click()
    time.sleep(1) 
    
    # To click Sold Day(s) button
    #driver.find_elements_by_xpath("//button[@type='button']/span[text()='Sold']")[0].click()
    driver.find_elements_by_xpath("//span[@class='el-input__suffix-inner']")[3].click()
    time.sleep(2) 
    driver.find_elements_by_xpath(".//*[text()='Last " + str(days_sold) + " days']")[2].click()

In [3]:
def search_frame(df_selected, element_selected):
    """
    Extract data frome frame
    """
    city = []
    address = []
    ask_price = []
    sold_price = []
    list_days = []
    bed_bath_garage = []
    key_facts_l = []
    key_facts_r = []
    list_desc = []
    sigma_est = []

    # Extract address
    address.append(driver.find_elements_by_xpath("//div[@class='address']")[0].text)

    # Extract asking price
    try:
        ask_price.append(driver.find_elements_by_xpath("//div[@class='price_listing']/span[text()]")[0].text)
    except IndexError:
        #print('Error (1st IndexError) in search_frame function (asking price)')
        try:
            ask_price.append(driver.find_elements_by_xpath("//div[@class='price_listing price_grey']/span[text()]")[0].text)
        except IndexError:
            #print('Error (2nd IndexError) in search_frame function (asking price)')
            ask_price.append('')

    # Extract sold price
    try:        
        sold_price.append(driver.find_elements_by_xpath("//div[@class='price_sold']/span[text()]")[0].text)
    except IndexError:
        #print('Error (IndexError) in search_frame function (sold_price)')
        sold_price.append('')   

    # Listed/Sold days
    try:
        list_days.append(driver.find_elements_by_xpath("//span[@class='list_days']")[0].text)
    except NameError:
        #print('Error (NameError) in search_frame function (listed or sold days)')
        list_days.append('')

    # Bedroom, Bathroom, Garage
    bed_bath_garage.append(driver.find_elements_by_xpath("//div[@class='container vue-flex vue-flex-around vue-flex-row']")[0].text)

    # City name
    city.append(driver.find_elements_by_xpath("//div[@class='city_name']")[0].text)

    # Key facts
    key_facts_l.append(driver.find_elements_by_xpath("//div[@class='each_column_container el-col el-col-12']")[0].text)
    key_facts_r.append(driver.find_elements_by_xpath("//div[@class='each_column_container el-col el-col-12']")[1].text)

    # Listing Description
    list_desc.append(driver.find_elements_by_xpath("//div[@class='key_facts_description el-col el-col-24']")[0].text)

    # HouseSigma estimates
    sigma_est.append(driver.find_elements_by_xpath("//div[@class='estimate_other vue-flex vue-flex-row vue-flex-around']")[0].text)

    # Close element frame window (after extracting data)
    time.sleep(1)

    #driver.find_elements_by_xpath("//i[@class='el-icon-fa-window-close']")[0].click()

    time.sleep(1)

    #driver.find_elements_by_xpath("//a[@class='leaflet-popup-close-button']")[0].click()

    # Save dataframe
    df_temp = pd.DataFrame({'city': city,
                           'address': address, 
                           'ask_price': ask_price, 
                           'sold_price': sold_price,
                           'list_days': list_days, 
                           'bed_bath_garage': bed_bath_garage,
                           'key_facts_l': key_facts_l,
                           'key_facts_r': key_facts_r,
                           'list_desc': list_desc,
                           'sigma_est': sigma_est,
                           'frame_elements': element_selected}) #,
                           #'frame_elements_text': element_selected.text})
    #display(df_temp)
    global df
    df = df_selected.append(df_temp).sort_values('address').drop_duplicates(subset=['address'], keep='last')  
    return(df)

In [4]:
def remove_frame(elements, index):
    elements.remove(elements[index])

In [5]:
def zoom_out():
    """
    Zoom out in the map
    """
    # Close element frame window (after extracting data)
    #driver.find_elements_by_xpath("//a[@class='leaflet-popup-close-button']")[0].click()
    
    # Zoom out
    driver.find_element_by_css_selector('[aria-label="Zoom out"]').click()

In [6]:
def zoom_in():
    # Close element frame window (after extracting data)
    #driver.find_elements_by_xpath("//a[@class='leaflet-popup-close-button']")[0].click()
    
    # Zoom out
    driver.find_element_by_css_selector('[aria-label="Zoom in"]').click()

In [7]:
def clear_search():
    """
    Clear the text in the search bar
    """
    search = driver.find_element_by_css_selector('[placeholder="Any sold or live listing #, address or neighborhood"]')
    search.send_keys(Keys.CONTROL + "a");
    search.send_keys(Keys.DELETE);

In [8]:
def search_area(assigned_area):
    """
    Input area in the search bar
    """
    # Clear the text if present
    clear_search()
    # Find search bar element
    area = driver.find_element_by_css_selector('[placeholder="Any sold or live listing #, address or neighborhood"]')
    # Input text to search for
    area.send_keys(assigned_area)
    time.sleep(1) 
    # Click on area text drop down
    action = webdriver.common.action_chains.ActionChains(driver)
    action.move_to_element_with_offset(area, 25, 110)  # Offset by x pixels right y pixels down
    action.click()
    action.click()
    action.perform()

In [9]:
def element_clicker(element_list):
    try:
        element = random.choice(element_list)
        
        ele_text = element.text
        
        element.click()
        
        time.sleep(1)
        
        ele_collection = driver.find_elements_by_xpath("//div[@class='house_item_address']")

        for i in range(len(ele_collection)):
            try:
                ele_collection[i].click()
                
                time.sleep(1)
                
                address = driver.find_elements_by_xpath("//div[@class='address']")[0].text
                city_name_check = driver.find_elements_by_xpath("//div[@class='city_name']")[0].text
                
                if city_filtered not in city_name_check:
                    #print('city_name is:' + city_name_check)
                    #print('Toronto' not in city_name_check)
                    driver.find_elements_by_xpath("//i[@class='el-icon-fa-window-close']")[0].click()
                    time.sleep(0.5)
                    search_area(assigned_area=city_filtered)
                    time.sleep(0.5) 
                    zoom_in()
                    #break
                    
                try:
                    print('Property at address: ' + address + '. Address is already in DataFrame: ' + str(address in list(df['address'])))
                except:
                    pass
                
                if 'M' not in ele_text and address not in list(df['address']):

                    search_frame(df, ele_collection[i])
                    
                    print('Property at address: ' + address + ' - ADDED. (df has ' + str(np.shape(df)[0]) + ' rows).\n')

                    driver.find_elements_by_xpath("//i[@class='el-icon-fa-window-close']")[0].click()
              
                
                if 'M' in ele_text and address not in list(df['address']):
                    
                    search_frame(df, ele_collection[i])
                    
                    print('Property at address: ' + address + ' - ADDED. (df has ' + str(np.shape(df)[0]) + ' rows).\n')
            
            except: 
                ('error clicking frame')
                
        driver.find_elements_by_xpath("//a[@class='leaflet-popup-close-button']")[0].click()
                
    except:
        try:
            driver.find_elements_by_xpath("//i[@class='el-icon-fa-window-close']")[0].click()
        except:
            pass
        try:
            driver.find_elements_by_xpath("//a[@class='leaflet-popup-close-button']")[0].click()
        except:
            pass
                
        global new_elements
        
        new_elements = driver.find_elements_by_xpath("//parent::div[@class='leaflet-marker-icon leaflet-div-icon leaflet-zoom-animated leaflet-interactive']")
        
        #print("Error from element_clicker function")

def clean_str():

    df['property_tax'] = [re.search('Tax:\n(.+?)\nPrope', df['key_facts_l'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    #df['property_type'] = [re.search('Type:\n(.+?)\nBuilding', df['key_facts_l'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    df['property_type'] = ''
    for i in range(np.shape(df)[0]):
        if 'Maintenance' in df['key_facts_l'].iloc[i] and 'Condo Townhouse' in df['key_facts_l'].iloc[i]:
            df['property_type'].iloc[i] = re.search('Type:\n(.+?)\nMaintenance', df['key_facts_l'].iloc[i]).group(1)

        if 'Size:' in df['key_facts_l'].iloc[i] and 'Lot' in df['key_facts_l'].iloc[i]:
            df['property_type'].iloc[i] = re.search('Type:\n(.+?)\nBuilding', df['key_facts_l'].iloc[i]).group(1)

    df['building_age'] = [re.search('Age:\n(.+?)\nSize', df['key_facts_l'].iloc[i]).group(1) for i in range(np.shape(df)[0])]

    #df['house_size'] = [re.search('Size:\n(.+?)\nLot', df['key_facts_l'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    df['house_size'] = ''
    for i in range(np.shape(df)[0]):
        if 'Maintenance' in df['key_facts_l'].iloc[i] and 'Condo Townhouse' in df['key_facts_l'].iloc[i]:
            df['house_size'].iloc[i] = re.search('Size:\n(.+?)\nParking', df['key_facts_l'].iloc[i]).group(1)

        if 'Size:' in df['key_facts_l'].iloc[i] and 'Lot' in df['key_facts_l'].iloc[i]:
            df['house_size'].iloc[i] = re.search('Size:\n(.+?)\nLot', df['key_facts_l'].iloc[i]).group(1)

    #df['lot_size'] = [re.search('Lot Size:\n(.+?)\nParking', df['key_facts_l'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    df['lot_size'] = ''
    for i in range(np.shape(df)[0]):
        if 'Lot Size' in df['key_facts_l'].iloc[i]:
            try:
                df['lot_size'].iloc[i] = re.search('Size:\n(.+?)\nParking', df['key_facts_l'].iloc[i]).group(1)
            except:
                pass

        elif 'Size:' in df['key_facts_l'].iloc[i] and 'Lot' in df['key_facts_l'].iloc[i]:
            try:
                df['lot_size'].iloc[i] = re.search('nLot Size:\n(.+?)\nParking', df['key_facts_l'].iloc[i]).group(1)
            except:
                pass

        elif 'Irregul' in df['key_facts_l'].iloc[i] and 'Lot Size' in df['key_facts_l'].iloc[i]:
            try:
                df['lot_size'].iloc[i] = re.search('Irregularities:\n(.+?$)\nParking', df['key_facts_l'].iloc[i]).group(1)
            except:
                pass

    df['parking'] = [re.search('Parking:\n(.+?)\nBasement', df['key_facts_l'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    df['basement'] = [re.search('Basement:\n(.+?)$', df['key_facts_l'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    df['mls_num'] = [re.search('Listing #:\n(.+?)\nDays', df['key_facts_r'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    df['days_on_mrkt'] = [re.search('Days on Market:\n(.+?)\nListed', df['key_facts_r'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    df['listed_date'] = [re.search('Listed on:\n(.+?)\nUpdated', df['key_facts_r'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    #df['list_updated'] = [re.search('Updated On:\n(.+?)\nMarket', df['key_facts_r'].iloc[i]).group(1) for i in range(np.shape(df)[0])]
    df['list_updated'] = ''
    for i in range(np.shape(df)[0]):
        if 'Updated On:' in df['key_facts_r'].iloc[i]:
            try:
                df['list_updated'].iloc[i] = re.search('Updated On:\n(.+?)\nMarket', df['key_facts_r'].iloc[i]).group(1)
            except:
                pass

        else:
            try:
                df['list_updated'].iloc[i] = re.search('Updated On:\n(.+?)$', df['key_facts_r'].iloc[i]).group(1)
            except:
                df['list_updated'].iloc[i] = ''


    #df[''] = [ for i in range(np.shape(df)[0])]
    #df[''] = [ for i in range(np.shape(df)[0])]

In [10]:
def re_replace(df, re_phrase, col):
    
    new_list = []
    
    for i in range(np.shape(df)[0]):
        try:
            new_list.append(re.search(re_phrase, df[col].iloc[i]).group(1))
        except:
            new_list.append('')
            
    return new_list

In [11]:
def clean_data(df_clean):

    # cleaned ask price
    df_clean['ask_price_final'] = df_clean['ask_price'].str.replace(r'[^\d]', '')

    # cleaned sold price
    df_clean['sold_price_final'] = df_clean['sold_price'].str.replace(r'[^\d]', '')

    # cleaned city
    df_clean['city_final'] = re_replace(df = df_clean, re_phrase = '- (.+?)$', col = 'city')

    # listed and sold days
    df_clean['listed_in_days_final'] = re_replace(df = df_clean, re_phrase = 'Listed (.+?) days ago', col = 'list_days')
    df_clean['listed_in_date_final'] = re_replace(df = df_clean, re_phrase = 'Listed in (.+?)$', col = 'list_days')

    df_clean['sold_in_days_final'] = re_replace(df = df_clean, re_phrase = 'Sold (.+?) days ago', col = 'list_days')
    df_clean['sold_in_date_final'] = re_replace(df = df_clean, re_phrase = 'Sold in (.+?)$', col = 'list_days')

    # number of rooms
    df_clean['bedroom_final']  = re_replace(df = df_clean, re_phrase = '(.+?) Bedrooms\n', col = 'bed_bath_garage')
    df_clean['bathroom_final'] = re_replace(df = df_clean, re_phrase = '\n(.+?) Bathrooms\n', col = 'bed_bath_garage')
    df_clean['garage'] = re_replace(df = df_clean, re_phrase = '\n(.+?) Garage$', col = 'bed_bath_garage')

    # property tax
    df_clean['property_tax_final'] = re_replace(df = df_clean, re_phrase = 'Tax:\n(.+?)\nPro', col = 'key_facts_l')
    df_clean['property_tax_final'] = df_clean['property_tax_final'].str.replace(r'[^\d]', '')

    # building type
    df_clean['building_type_final'] = re_replace(df = df_clean, re_phrase = 'Type:\n(.+?)\nBuilding', col = 'key_facts_l')

    # building age
    df_clean['building_age_final'] = re_replace(df = df_clean, re_phrase = 'Age:\n(.+?)\nSize', col = 'key_facts_l')

    # building size
    df_clean['building_size_final'] = re_replace(df = df_clean, re_phrase = 'Size:\n(.+?)\nLot', col = 'key_facts_l')

    # lot size
    df_clean['lot_size_final'] = re_replace(df = df_clean, re_phrase = 'Lot Size:\n(.+?)\nParking', col = 'key_facts_l')

    # parking
    df_clean['parking_final'] = re_replace(df = df_clean, re_phrase = 'Parking:\n(.+?)\nBasement', col = 'key_facts_l')

    # basement
    df_clean['basement_final'] = re_replace(df = df_clean, re_phrase = 'Basement:\n(.+?)$', col = 'key_facts_l')

    # listing #
    df_clean['mls_number_final'] = re_replace(df = df_clean, re_phrase = 'Listing #:\n(.+?)\nDays', col = 'key_facts_r')

    # days on market
    df_clean['days_on_mrkt_final'] = re_replace(df = df_clean, re_phrase = 'Market:\n(.+?)\nListed', col = 'key_facts_r')

    # listed on
    df_clean['listed_date_final'] = re_replace(df = df_clean, re_phrase = 'Listed on:\n(.+?)\nUpdated', col = 'key_facts_r')

    # updated on
    df_clean['updated_date_final'] = re_replace(df = df_clean, re_phrase = 'Updated On:\n(.+?)\nMark', col = 'key_facts_r')

    # sigma estimated price
    df_clean['sigma_est_price_final'] = re_replace(df = df_clean, re_phrase = 'SigmaEstimate\n(.+?)\nEstimated', col = 'sigma_est')
    df_clean['sigma_est_price_final'] = df_clean['sigma_est_price_final'].str.replace(r'[^\d]', '')

    # sigma estimated date
    df_clean['sigma_est_date_final'] = re_replace(df = df_clean, re_phrase = 'Estimated Date\n(.+?)\nRental Estimate', col = 'sigma_est')

    # sigma estimated rent
    df_clean['sigma_est_rent_final'] = re_replace(df = df_clean, re_phrase = 'Rental Estimate\n(.+?)\nRental Yield', col = 'sigma_est')
    df_clean['sigma_est_rent_final'] = df_clean['sigma_est_rent_final'].str.replace(r'[^\d]', '')

    # sigma estimated rent
    df_clean['sigma_est_rental_yield_final'] = re_replace(df = df_clean, re_phrase = 'Rental Yield\n(.+?)\nRental Dom', col = 'sigma_est')

    # sigma estimated rental days on mrkt
    df_clean['sigma_est_rental_dom_final'] = re_replace(df = df_clean, re_phrase = 'Rental Dom\n(.+?) day', col = 'sigma_est')
    
    df_clean['ask_price_final'] = df_clean['ask_price_final'].fillna(0).replace('', 0).astype(int)
    df_clean['sold_price_final'] = df_clean['sold_price_final'].fillna(0).replace('', 0).astype(int)
    df_clean['property_tax_final'] = df_clean['property_tax_final'].fillna(0).replace('', 0).astype(int)
    df_clean['sigma_est_price_final'] = df_clean['sigma_est_price_final'].fillna(0).replace('', 0).astype(int)
    df_clean['sigma_est_rent_final'] = df_clean['sigma_est_rent_final'].fillna(0).replace('', 0).astype(int)
    df_clean['sold_in_days_final'] = df_clean['sold_in_days_final'].fillna(0).replace('', 0).astype(int)
    df_clean['listed_in_days_final'] = df_clean['listed_in_days_final'].fillna(0).replace('', 0).astype(int)

In [17]:
#Google
driver = webdriver.Chrome('C:/Users/kyyan/Documents/ChromeDriver/chromedriver')
driver.get('https://housesigma.com/web/en/login')

#Firefox
import os
os.chdir('C:/Users/kyyan/Documents/ChromeDriver/')
driver = webdriver.Firefox()
driver.get('https://housesigma.com/web/en/login')

In [18]:
# Login
user_val = input("Enter Username: ")
pw_val = getpass()

# Set default view
num_garage = 2
days_sold = 30

# Initialization
initialize_bot(user_val, pw_val, num_garage, days_sold)

In [ ]:
delay_time = 2

city_filtered = 'Downsview'
search_area(assigned_area=city_filtered)

time.sleep(1) 
zoom_in()

city = []
address = []
ask_price = []
sold_price = []
list_days = []
bed_bath_garage = []
key_facts_l = []
key_facts_r = []
list_desc = []
sigma_est = []
    
df = pd.DataFrame({'city': city,
                       'address': address, 
                       'ask_price': ask_price, 
                       'sold_price': sold_price,
                       'list_days': list_days, 
                       'bed_bath_garage': bed_bath_garage,
                       'key_facts_l': key_facts_l,
                       'key_facts_r': key_facts_r,
                       'list_desc': list_desc,
                       'sigma_est': sigma_est,
                       'frame_elements': element_selected})

df = pd.read_excel("C:/Users/kyyan/Desktop/HouseSigma data/HouseSigma_Extract_15.xlsx")

#test
new_elements = driver.find_elements_by_xpath("//parent::div[@class='leaflet-marker-icon leaflet-div-icon leaflet-zoom-animated leaflet-interactive']")

user_input = True
df_row_start = np.shape(df)[0]
df_row_end = np.shape(df)[0] + 250
incred = 249

count = []

while np.shape(df)[0] < df_row_end and user_input == True:
    
    count_start = np.shape(df)[0]
    
    element_clicker(new_elements)
    
    count_end = np.shape(df)[0]
    
    count.append(count_end-count_start)
    
    if collections.Counter(count)[0] >= 10:
        count = []
        zoom_out()
    
    # if current num of row has increased by 10 prompt input
    if np.shape(df)[0] == df_row_start + incred:
        user_feedback = input("Continue? [y/n]")
        if user_feedback == 'y':
            df_row_start = np.shape(df)[0]
        else:
            user_input = False
            

file_index += 1
    
#df
df_clean = df.copy()

clean_data(df_clean)
    
df_clean.to_excel("C:/Users/kyyan/Desktop/HouseSigma data/HouseSigma_Extract_15" + ".xlsx")

#df
df_clean = df.copy()

clean_data(df_clean)
    
df_clean.to_excel("C:/Users/kyyan/Desktop/HouseSigma data/HouseSigma_Extract_15" + ".xlsx")

data = df_clean[['city', 
             'address', 
             'ask_price', 
             'sold_price', 
             'list_days',
             'bed_bath_garage', 
             'key_facts_l', 
             'key_facts_r', 
             'list_desc',
             'sigma_est', 
             'ask_price_final', 
             'sold_price_final',
             'city_final', 
             'listed_in_days_final', 
             'listed_in_date_final',
             'sold_in_days_final', 
             'sold_in_date_final', 
             'bedroom_final',
             'bathroom_final', 
             'garage', 
             'property_tax_final',
             'building_type_final', 
             'building_age_final', 
             'building_size_final',
             'lot_size_final', 
             'parking_final', 
             'basement_final', 
             'mls_number_final',
             'days_on_mrkt_final', 
             'listed_date_final', 
             'updated_date_final',
             'sigma_est_price_final', 
             'sigma_est_date_final', 
             'sigma_est_rent_final',
             'sigma_est_rental_yield_final', 
             'sigma_est_rental_dom_final']]

data.to_csv("C:/Users/kyyan/Documents/mysql data/HouseSigma_Extract.csv")

# Connecting to MYSQL

In [20]:
host = os.getenv('localhost')
port = os.getenv('3306')
user = os.getenv('root')
#password = os.getenv(getpass())
database = os.getenv('hs_db')

engine = pymysql.connect(host=host,
                         port=int(3306),
                         user="root",
                         #passwd=password,
                         db="hs_db",
                         charset='utf8mb4')

# dialect+driver://username:password@host:port/database
conn = create_engine('mysql://root:@localhost/hs_db')

cursor = engine.cursor()

In [232]:
# Create a House Sigma data table in the hs_db Database

mysql_query = '''create table hs_db.house_sigma_data (city text, 
                                                      address text, 
                                                      ask_price text, 
                                                      sold_price text, 
                                                      list_days text,
                                                      bed_bath_garage text, 
                                                      key_facts_l text, 
                                                      key_facts_r text, 
                                                      list_desc text,
                                                      sigma_est text
                                                      added_date date);'''
cursor.execute(mysql_query)

0

In [26]:
n_thres = 40
n = 0

db_df = pd.read_sql_query('''select distinct address from hs_db.house_sigma_data''', engine)
df = pd.read_excel("C:/Users/kyyan/Desktop/HouseSigma data/HouseSigma_Extract_15.xlsx")

while n < n_thres:
    
    # Empty values of dataframe
    df = df.iloc[0:0]

    new_elements = driver.find_elements_by_xpath("//parent::div[@class='leaflet-marker-icon leaflet-div-icon leaflet-zoom-animated leaflet-interactive']")

    user_input = True
    df_row_start = np.shape(df)[0]
    df_row_end = np.shape(df)[0] + 1
    incred = 1

    count = []

    while np.shape(df)[0] < df_row_end and user_input == True:

        count_start = np.shape(df)[0]

        element_clicker(new_elements)

        count_end = np.shape(df)[0]

        count.append(count_end-count_start)

        if collections.Counter(count)[0] >= 10:
            count = []
            zoom_out()

        # if current num of row has increased by 10 prompt input
        '''if np.shape(df)[0] == df_row_start + incred:
            user_feedback = input("Continue? [y/n]")
            if user_feedback == 'y':
                df_row_start = np.shape(df)[0]
            else:
                user_input = False
        '''

    insert_df = df[['city', 
                     'address', 
                     'ask_price', 
                     'sold_price', 
                     'list_days',
                     'bed_bath_garage', 
                     'key_facts_l', 
                     'key_facts_r', 
                     'list_desc',
                     'sigma_est']].reset_index(drop=True)
    
    insert_df['added_date'] = datetime.today().strftime('%Y-%m-%d-%H:%M:%S')

    # Insert dataframe to mysql
    insert_df.to_sql('house_sigma_data', conn, if_exists = 'append', index=False)

    # Append new addresses to db_df
    db_df.append(df[['address']])
    
    # Empty values of dataframe
    df = df.iloc[0:0]
    
    # Increment n
    n+=1

Property at address: 208 Tavistock Rd. Address is already in DataFrame: False
Property at address: 208 Tavistock Rd - ADDED. (df has 1 rows).

Property at address: 191 Tavistock Rd. Address is already in DataFrame: False
Property at address: 191 Tavistock Rd - ADDED. (df has 2 rows).

Property at address: 26 Forthbridge Cres. Address is already in DataFrame: False
Property at address: 26 Forthbridge Cres - ADDED. (df has 3 rows).

Property at address: 3 Forthbridge Cres. Address is already in DataFrame: False
Property at address: 3 Forthbridge Cres - ADDED. (df has 4 rows).

Property at address: 29 Whitburn Cres. Address is already in DataFrame: False
Property at address: 29 Whitburn Cres - ADDED. (df has 1 rows).

Property at address: 9 Gatesgill Cres. Address is already in DataFrame: False
Property at address: 9 Gatesgill Cres - ADDED. (df has 1 rows).

Property at address: 52 Forthbridge Cres. Address is already in DataFrame: False
Property at address: 52 Forthbridge Cres - ADDED. (df has 2 rows).

Property at address: 59 Gates Gill Cres. Address is already in DataFrame: False
Property at address: 59 Gates Gill Cres - ADDED. (df has 3 rows).

Property at address: 264 Calvington Drive. Address is already in DataFrame: False
Property at address: 264 Calvington Drive - ADDED. (df has 4 rows).

Property at address: 147 Exbury Rd. Address is already in DataFrame: False
Property at address: 147 Exbury Rd - ADDED. (df has 5 rows).

Property at address: 9 Gatesgill Cres. Address is already in DataFrame: False
Property at address: 9 Gatesgill Cres - ADDED. (df has 1 rows).

Property at address: 52 Forthbridge Cres. Address is already in DataFrame: False
Property at address: 52 Forthbridge Cres - ADDED. (df has 2 rows).

Property at address: 59 Gates Gill Cres. Address is already in DataFrame: False
Property at address: 59 Gates Gill Cres - ADDED. (df has 3 rows).

Property at address: 264 Calvington Drive. Address is already in DataFrame: False
Property at address: 264 Calvington Drive - ADDED. (df has 4 rows).

Property at address: 147 Exbury Rd. Address is already in DataFrame: False
Property at address: 147 Exbury Rd - ADDED. (df has 5 rows).

Property at address: 248 Epsom Downs Dr. Address is already in DataFrame: False
Property at address: 248 Epsom Downs Dr - ADDED. (df has 1 rows).

Property at address: 210 Richard Clark Dr. Address is already in DataFrame: False
Property at address: 210 Richard Clark Dr - ADDED. (df has 1 rows).

Property at address: 8 Jocada Rd. Address is already in DataFrame: False
Property at address: 8 Jocada Rd - ADDED. (df has 1 rows).

Property at address: Unit 411 - 2772 Keele St. Address is already in DataFrame: False
Property at address: Unit 411 - 2772 Keele St - ADDED. (df has 1 rows).

Property at address: Unit 720 - 2737 Keele St. Address is already in DataFrame: False
Property at address: Unit 720 - 2737 Keele St - ADDED. (df has 1 rows).

Property at address: Unit 2125 - 115 George Appleton Way. Address is already in DataFrame: False
Property at address: Unit 2125 - 115 George Appleton Way - ADDED. (df has 2 rows).

Property at address: Unit 311 - 2737 Keele St. Address is already in DataFrame: False
Property at address: Unit 311 - 2737 Keele St - ADDED. (df has 3 rows).

Property at address: Unit 1005 - 125 George Appleton Way. Address is already in DataFrame: False
Property at address: Unit 1005 - 125 George Appleton Way - ADDED. (df has 4 rows).

Property at address: 49 Sunray Cres. Address is already in DataFrame: False
Property at address: 49 Sunray Cres - ADDED. (df has 1 rows).

Property at address: 60 Calvington Dr. Address is already in DataFrame: False
Property at address: 60 Calvington Dr - ADDED. (df has 2 rows).

Property at address: 5 Camborne Ave. Address is already in DataFrame: False
Property at address: 5 Camborne Ave - ADDED. (df has 1 rows).

Property at address: 66 Tavistock Rd. Address is already in DataFrame: False
Property at address: 66 Tavistock Rd - ADDED. (df has 2 rows).

Property at address: 32 Renshaw St. Address is already in DataFrame: False
Property at address: 32 Renshaw St - ADDED. (df has 3 rows).

Property at address: Lot 149 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 149 Frederick Tisdale Ave - ADDED. (df has 1 rows).

Property at address: 121 William Duncan Ave. Address is already in DataFrame: False
Property at address: 121 William Duncan Ave - ADDED. (df has 2 rows).

Property at address: 72 William Duncan Rd. Address is already in DataFrame: False
Property at address: 72 William Duncan Rd - ADDED. (df has 3 rows).

Property at address: 69 William Duncan Ave. Address is already in DataFrame: False
Property at address: 69 William Duncan Ave - ADDED. (df has 4 rows).

Property at address: Lot 136 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 136 Frederick Tisdale Ave - ADDED. (df has 5 rows).

Property at address: 140 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 140 Frederick Tisdale Dr - ADDED. (df has 6 rows).

Property at address: 29 William Duncan Rd. Address is already in DataFrame: False
Property at address: 29 William Duncan Rd - ADDED. (df has 7 rows).

Property at address: Unit 1 - 60 Thomas Mulholland Dr. Address is already in DataFrame: False
Property at address: Unit 1 - 60 Thomas Mulholland Dr - ADDED. (df has 8 rows).

Property at address: 263 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 263 Downsview Park Blvd - ADDED. (df has 9 rows).

Property at address: 55 William Duncan Rd. Address is already in DataFrame: False
Property at address: 55 William Duncan Rd - ADDED. (df has 10 rows).

Property at address: 34 William Duncan Rd. Address is already in DataFrame: False
Property at address: 34 William Duncan Rd - ADDED. (df has 11 rows).

Property at address: 178 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 178 Frederick Tisdale Dr - ADDED. (df has 12 rows).

Property at address: 39 William Duncan Rd. Address is already in DataFrame: False
Property at address: 39 William Duncan Rd - ADDED. (df has 13 rows).

Property at address: 16 William Duncan Rd. Address is already in DataFrame: False
Property at address: 16 William Duncan Rd - ADDED. (df has 14 rows).

Property at address: 42 William Duncan Rd. Address is already in DataFrame: False
Property at address: 42 William Duncan Rd - ADDED. (df has 15 rows).

Property at address: Lot 149 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 149 Frederick Tisdale Ave - ADDED. (df has 1 rows).

Property at address: 72 William Duncan Rd. Address is already in DataFrame: False
Property at address: 72 William Duncan Rd - ADDED. (df has 2 rows).

Property at address: 121 William Duncan Ave. Address is already in DataFrame: False
Property at address: 121 William Duncan Ave - ADDED. (df has 3 rows).

Property at address: Lot 136 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 136 Frederick Tisdale Ave - ADDED. (df has 4 rows).

Property at address: 69 William Duncan Ave. Address is already in DataFrame: False
Property at address: 69 William Duncan Ave - ADDED. (df has 5 rows).

Property at address: 140 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 140 Frederick Tisdale Dr - ADDED. (df has 6 rows).

Property at address: 29 William Duncan Rd. Address is already in DataFrame: False
Property at address: 29 William Duncan Rd - ADDED. (df has 7 rows).

Property at address: Unit 1 - 60 Thomas Mulholland Dr. Address is already in DataFrame: False
Property at address: Unit 1 - 60 Thomas Mulholland Dr - ADDED. (df has 8 rows).

Property at address: 34 William Duncan Rd. Address is already in DataFrame: False
Property at address: 34 William Duncan Rd - ADDED. (df has 9 rows).

Property at address: 55 William Duncan Rd. Address is already in DataFrame: False
Property at address: 55 William Duncan Rd - ADDED. (df has 10 rows).

Property at address: 263 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 263 Downsview Park Blvd - ADDED. (df has 11 rows).

Property at address: 178 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 178 Frederick Tisdale Dr - ADDED. (df has 12 rows).

Property at address: 39 William Duncan Rd. Address is already in DataFrame: False
Property at address: 39 William Duncan Rd - ADDED. (df has 13 rows).

Property at address: 16 William Duncan Rd. Address is already in DataFrame: False
Property at address: 16 William Duncan Rd - ADDED. (df has 14 rows).

Property at address: 42 William Duncan Rd. Address is already in DataFrame: False
Property at address: 42 William Duncan Rd - ADDED. (df has 15 rows).

Property at address: Lot 149 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 149 Frederick Tisdale Ave - ADDED. (df has 1 rows).

Property at address: 72 William Duncan Rd. Address is already in DataFrame: False
Property at address: 72 William Duncan Rd - ADDED. (df has 2 rows).

Property at address: 9 Gatesgill Cres. Address is already in DataFrame: False
Property at address: 9 Gatesgill Cres - ADDED. (df has 1 rows).

Property at address: 52 Forthbridge Cres. Address is already in DataFrame: False
Property at address: 52 Forthbridge Cres - ADDED. (df has 2 rows).

Property at address: 59 Gates Gill Cres. Address is already in DataFrame: False
Property at address: 59 Gates Gill Cres - ADDED. (df has 3 rows).

Property at address: 264 Calvington Drive. Address is already in DataFrame: False
Property at address: 264 Calvington Drive - ADDED. (df has 4 rows).

Property at address: 147 Exbury Rd. Address is already in DataFrame: False
Property at address: 147 Exbury Rd - ADDED. (df has 5 rows).

Property at address: Lot 149 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 149 Frederick Tisdale Ave - ADDED. (df has 1 rows).

Property at address: 72 William Duncan Rd. Address is already in DataFrame: False
Property at address: 72 William Duncan Rd - ADDED. (df has 2 rows).

Property at address: 229 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 229 Downsview Park Blvd - ADDED. (df has 3 rows).

Property at address: 121 William Duncan Ave. Address is already in DataFrame: False
Property at address: 121 William Duncan Ave - ADDED. (df has 4 rows).

Property at address: 69 William Duncan Ave. Address is already in DataFrame: False
Property at address: 69 William Duncan Ave - ADDED. (df has 5 rows).

Property at address: Lot 136 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 136 Frederick Tisdale Ave - ADDED. (df has 6 rows).

Property at address: 140 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 140 Frederick Tisdale Dr - ADDED. (df has 7 rows).

Property at address: 29 William Duncan Rd. Address is already in DataFrame: False
Property at address: 29 William Duncan Rd - ADDED. (df has 8 rows).

Property at address: 207 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 207 Downsview Park Blvd - ADDED. (df has 9 rows).

Property at address: Unit 1 - 60 Thomas Mulholland Dr. Address is already in DataFrame: False
Property at address: Unit 1 - 60 Thomas Mulholland Dr - ADDED. (df has 10 rows).

Property at address: 34 William Duncan Rd. Address is already in DataFrame: False
Property at address: 34 William Duncan Rd - ADDED. (df has 11 rows).

Property at address: 55 William Duncan Rd. Address is already in DataFrame: False
Property at address: 55 William Duncan Rd - ADDED. (df has 12 rows).

Property at address: 263 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 263 Downsview Park Blvd - ADDED. (df has 13 rows).

Property at address: 201 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 201 Downsview Park Blvd - ADDED. (df has 14 rows).

Property at address: 161 Stanley Greene Blvd. Address is already in DataFrame: False
Property at address: 161 Stanley Greene Blvd - ADDED. (df has 15 rows).

Property at address: 178 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 178 Frederick Tisdale Dr - ADDED. (df has 16 rows).

Property at address: 39 William Duncan Rd. Address is already in DataFrame: False
Property at address: 39 William Duncan Rd - ADDED. (df has 17 rows).

Property at address: 16 William Duncan Rd. Address is already in DataFrame: False
Property at address: 16 William Duncan Rd - ADDED. (df has 18 rows).

Property at address: 42 William Duncan Rd. Address is already in DataFrame: False
Property at address: 42 William Duncan Rd - ADDED. (df has 19 rows).

Property at address: 77 Sawmill Rd. Address is already in DataFrame: False
Property at address: 77 Sawmill Rd - ADDED. (df has 1 rows).

Property at address: Unit 1035 - 55 George Appleton Way. Address is already in DataFrame: False
Property at address: Unit 1035 - 55 George Appleton Way - ADDED. (df has 1 rows).

Property at address: Unit 2059 - 75 George Appleton Way. Address is already in DataFrame: False
Property at address: Unit 2059 - 75 George Appleton Way - ADDED. (df has 2 rows).

Property at address: Unit 2115 - 55 George Appleton Way. Address is already in DataFrame: False
Property at address: Unit 2115 - 55 George Appleton Way - ADDED. (df has 3 rows).

Property at address: 1172 Wilson Ave. Address is already in DataFrame: False
Property at address: 1172 Wilson Ave - ADDED. (df has 1 rows).

Property at address: 44 Tilbury Dr. Address is already in DataFrame: False
Property at address: 44 Tilbury Dr - ADDED. (df has 1 rows).

Property at address: 30 Stanley Greene Blvd. Address is already in DataFrame: False
Property at address: 30 Stanley Greene Blvd - ADDED. (df has 2 rows).

Property at address: 229 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 229 Downsview Park Blvd - ADDED. (df has 1 rows).

Property at address: 207 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 207 Downsview Park Blvd - ADDED. (df has 2 rows).

Property at address: 201 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 201 Downsview Park Blvd - ADDED. (df has 3 rows).

Property at address: 161 Stanley Greene Blvd. Address is already in DataFrame: False
Property at address: 161 Stanley Greene Blvd - ADDED. (df has 4 rows).

Property at address: 229 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 229 Downsview Park Blvd - ADDED. (df has 1 rows).

Property at address: 207 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 207 Downsview Park Blvd - ADDED. (df has 2 rows).

Property at address: 201 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 201 Downsview Park Blvd - ADDED. (df has 3 rows).

Property at address: 161 Stanley Greene Blvd. Address is already in DataFrame: False
Property at address: 161 Stanley Greene Blvd - ADDED. (df has 4 rows).

Property at address: Lot 149 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 149 Frederick Tisdale Ave - ADDED. (df has 1 rows).

Property at address: 121 William Duncan Ave. Address is already in DataFrame: False
Property at address: 121 William Duncan Ave - ADDED. (df has 2 rows).

Property at address: 72 William Duncan Rd. Address is already in DataFrame: False
Property at address: 72 William Duncan Rd - ADDED. (df has 3 rows).

Property at address: 69 William Duncan Ave. Address is already in DataFrame: False
Property at address: 69 William Duncan Ave - ADDED. (df has 4 rows).

Property at address: Lot 136 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 136 Frederick Tisdale Ave - ADDED. (df has 5 rows).

Property at address: 140 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 140 Frederick Tisdale Dr - ADDED. (df has 6 rows).

Property at address: 29 William Duncan Rd. Address is already in DataFrame: False
Property at address: 29 William Duncan Rd - ADDED. (df has 7 rows).

Property at address: Unit 1 - 60 Thomas Mulholland Dr. Address is already in DataFrame: False
Property at address: Unit 1 - 60 Thomas Mulholland Dr - ADDED. (df has 8 rows).

Property at address: 34 William Duncan Rd. Address is already in DataFrame: False
Property at address: 34 William Duncan Rd - ADDED. (df has 9 rows).

Property at address: 55 William Duncan Rd. Address is already in DataFrame: False
Property at address: 55 William Duncan Rd - ADDED. (df has 10 rows).

Property at address: 263 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 263 Downsview Park Blvd - ADDED. (df has 11 rows).

Property at address: 178 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 178 Frederick Tisdale Dr - ADDED. (df has 12 rows).

Property at address: 39 William Duncan Rd. Address is already in DataFrame: False
Property at address: 39 William Duncan Rd - ADDED. (df has 13 rows).

Property at address: 16 William Duncan Rd. Address is already in DataFrame: False
Property at address: 16 William Duncan Rd - ADDED. (df has 14 rows).

Property at address: 42 William Duncan Rd. Address is already in DataFrame: False
Property at address: 42 William Duncan Rd - ADDED. (df has 15 rows).

Property at address: Lot 149 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 149 Frederick Tisdale Ave - ADDED. (df has 1 rows).

Property at address: 121 William Duncan Ave. Address is already in DataFrame: False
Property at address: 121 William Duncan Ave - ADDED. (df has 2 rows).

Property at address: 72 William Duncan Rd. Address is already in DataFrame: False
Property at address: 72 William Duncan Rd - ADDED. (df has 3 rows).

Property at address: 69 William Duncan Ave. Address is already in DataFrame: False
Property at address: 69 William Duncan Ave - ADDED. (df has 4 rows).

Property at address: Lot 136 Frederick Tisdale Ave. Address is already in DataFrame: False
Property at address: Lot 136 Frederick Tisdale Ave - ADDED. (df has 5 rows).

Property at address: 140 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 140 Frederick Tisdale Dr - ADDED. (df has 6 rows).

Property at address: 29 William Duncan Rd. Address is already in DataFrame: False
Property at address: 29 William Duncan Rd - ADDED. (df has 7 rows).

Property at address: Unit 1 - 60 Thomas Mulholland Dr. Address is already in DataFrame: False
Property at address: Unit 1 - 60 Thomas Mulholland Dr - ADDED. (df has 8 rows).

Property at address: 34 William Duncan Rd. Address is already in DataFrame: False
Property at address: 34 William Duncan Rd - ADDED. (df has 9 rows).

Property at address: 55 William Duncan Rd. Address is already in DataFrame: False
Property at address: 55 William Duncan Rd - ADDED. (df has 10 rows).

Property at address: 263 Downsview Park Blvd. Address is already in DataFrame: False
Property at address: 263 Downsview Park Blvd - ADDED. (df has 11 rows).

Property at address: 178 Frederick Tisdale Dr. Address is already in DataFrame: False
Property at address: 178 Frederick Tisdale Dr - ADDED. (df has 12 rows).

Property at address: 39 William Duncan Rd. Address is already in DataFrame: False
Property at address: 39 William Duncan Rd - ADDED. (df has 13 rows).

Property at address: 16 William Duncan Rd. Address is already in DataFrame: False
Property at address: 16 William Duncan Rd - ADDED. (df has 14 rows).

Property at address: 42 William Duncan Rd. Address is already in DataFrame: False
Property at address: 42 William Duncan Rd - ADDED. (df has 15 rows).


In [ ]:
## don't delete yet, was used for cleaning df NaN

In [237]:
df_clean = df.copy()

In [223]:
df_clean = df_clean.iloc[:, 0].drop(0)

In [227]:
df_clean = df_clean.drop(['Unnamed: 0'], axis=1)

In [228]:
df_clean = df_clean.dropna(subset=['address'])

In [ ]:
df_clean = df_clean.iloc[1:, :]

In [180]:
df_clean = df_clean.reset_index(drop = True)

In [187]:
df_clean.head()

,city,address,ask_price,sold_price,list_days,bed_bath_garage,key_facts_l,key_facts_r,list_desc,sigma_est,...,basement,mls_num,days_on_mrkt,listed_date,house_size,property_type,lot_size,list_updated,ask_price_new,sold_price_new
0,Roncesvalles - Toronto,(Address not available),"$ 775,000","$ 1,067,007",Sold 5 days ago,3 Bedrooms\n0 Bathrooms\n1 Garage,"Tax:\n$ 5,259\nPropery Type:\nSemi-Detached, 2...",Listing #:\nW5146165\nDays on Market:\n3 days\...,Description:\nRoncesvalles Location But The Ho...,"SigmaEstimate\n$1,219,414\nEstimated Date\n202...",...,NaN,NaN,NaN,NaN,NaN,"Semi-Detached, 2-Storey",NaN,NaN,NaN,NaN
1,Westbrook - Richmond Hill,0 Canyon Hill Lane,"$ 1,045,000",NaN,Listed in Dec 2020,3 Bedrooms\n3 Bathrooms\n2 Garage,"Tax:\n$ -\nPropery Type:\nFreehold Townhouse, ...",Listing #:\nN5071872\nDays on Market:\n79 days...,Description:\nBrand New Luxury Townhome 2 Car ...,"SigmaEstimate\n$1,016,551\nEstimated Date\n202...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Westbrook - Richmond Hill,0 James Noble Lane,"$ 1,150,000",NaN,Listed in Feb 2021,4 Bedrooms\n4 Bathrooms\n2 Garage,"Tax:\n$ -\nPropery Type:\nFreehold Townhouse, ...",Listing #:\nN5107273\nDays on Market:\n39 days...,Description:\nBrand New Luxury Townhome 2 Car ...,"SigmaEstimate\n$1,195,104\nEstimated Date\n202...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Langstaff - Richmond Hill,1 Baltic St,"$ 999,000","$ 1,270,000",Sold 3 days ago,4+1 Bedrooms\n4 Bathrooms\n1 Garage,"Tax:\n$ 5,408\nPropery Type:\nSemi-Detached, 2...",Listing #:\nN5138660\nDays on Market:\n11 days...,Description:\n*Spectacular Renovated Semi-Deta...,"SigmaEstimate\n$1,209,711\nEstimated Date\n202...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Stouffville - Whitchurch-Stouffville,1 Flint Cres,"$ 999,900","$ 1,060,000",Sold 27 days ago,5 Bedrooms\n5 Bathrooms\n2 Garage,"Tax:\n$ 5,594\nPropery Type:\nDetached, 2-Stor...",Listing #:\nN5110693\nDays on Market:\n8 days\...,Description:\nSpacious 5 Bedroom Home In The C...,"SigmaEstimate\n$1,237,127\nEstimated Date\n202...",...,Finished,N5110693,8 days,2021-02-10,Show Estimate,"Detached, 2-Storey",59.06 x 102.36 feet,2021-02-23,999900.0,1060000.0

In [15]:
data.columns

Index(['Unnamed: 0', 'city', 'address', 'ask_price', 'sold_price', 'list_days',
       'bed_bath_garage', 'key_facts_l', 'key_facts_r', 'list_desc',
       'sigma_est', 'frame_elements', 'ask_price_final', 'sold_price_final',
       'city_final', 'listed_in_days_final', 'listed_in_date_final',
       'sold_in_days_final', 'sold_in_date_final', 'bedroom_final',
       'bathroom_final', 'garage', 'property_tax_final', 'building_type_final',
       'building_age_final', 'building_size_final', 'lot_size_final',
       'parking_final', 'basement_final', 'mls_number_final',
       'days_on_mrkt_final', 'listed_date_final', 'updated_date_final',
       'sigma_est_price_final', 'sigma_est_date_final', 'sigma_est_rent_final',
       'sigma_est_rental_yield_final', 'sigma_est_rental_dom_final'],
      dtype='object')

In [4]:
data = pd.read_excel("C:/Users/kyyan/Desktop/HouseSigma data/HouseSigma_Extract_13.xlsx")